'.platform-darwin':
    'cmd-\\': 'tree-view:toggle'
    'cmd-k cmd-b': 'tree-view:toggle'
    'cmd-|': 'tree-view:reveal-active-file'
    'ctrl-0': 'tree-view:toggle-focus'

'.platform-win32, .platform-linux':
    'ctrl-\\': 'tree-view:toggle'
    'ctrl-k ctrl-b': 'tree-view:toggle'
    'ctrl-|': 'tree-view:reveal-active-file'
    'alt-\\': 'tree-view:toggle-focus'
